* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.image {
    display: none;
    height: 100%;
    width: 100%;
}

.visible {
    display: inline;
}

img {
    height: 100%;

    object-fit: cover;
}

.picture-frame {
    height: 750px;
    width: 500px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.arrow-container {
    height: 50px;
    border-radius: 50%;
}

.arrow-container:hover {
    box-shadow: 0px 0px 10px black;
}


.dot-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 46%;
    top: 90%;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
    display: inline-block;
}