* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.image {
    display: none;
    height: 100%;
    width: 100%;
}

.visible {
    display: inline;
}

img {
    height: 100%;

    object-fit: cover;
}

.picture-frame {
    height: 750px;
    width: 500px;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}